#dice1 {
  background-image: url('http://www.wpclipart.com/recreation/games/dice/die_face_1.png');
  width:313px;
  height:319px;
  background-size: 319px 313px;
  background-repeat: no-repeat;
  margin-left:0px;
  position:absolute;
  top:-300;
  left:0;
}

#dice2 {
  background-image: url('http://www.wpclipart.com/recreation/games/dice/die_face_2.png');
  width:313px;
  height:319px;
  background-size: 319px 313px;
  background-repeat: no-repeat;
  margin-left:0px;
  position:absolute;
  top:-300;
  right:0;
}
